.assessmentOverview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--Text-White, #fff);
  display: flex;
  flex-wrap: wrap;
}

.TAcard {
  display: flex;
  width: 162px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border: 1px solid #dadce0;
  border-radius: 8px 0px 0px 8px;
}
.TPcard {
  display: flex;
  width: 162px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #dadce0;
}

.countingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.candidateCard {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--Text-White, #fff);
  /* border-right: 1px solid #dadce0; */
  border: 1px solid #dadce0;
}
.candidateSourceCard {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--Text-White, #fff);
  border: 1px solid #dadce0;
}
.imgBg {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Accent-purple-light, #ebe8fd);
}
.assessmentOverviewMb {
  display: none;
}
@media only screen and (max-width: 768px) {
  .assessmentOverviewMb {
    display: flex;
    flex-wrap: wrap;
  }
  .assessmentOverview {
    display: none;
  }
  .mbwidth {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .TPcard {
    width: 50%;
    border-radius: 0px 8px 0px 0px;
  }

  .TAcard {
    width: 50%;
    border-radius: 8px 0px 0px 0px;
  }
  .candidateSourceCard {
    border-radius: 0px 0px 8px 8px;
  }
}
